In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
# Visualizacion de columnas y filas ilimitadas.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## MOVIES

In [3]:
movies_dataset = pd.read_csv("movies_dataset.csv")

C:\Users\TECol\AppData\Local\Temp\ipykernel_7968\778642897.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_dataset = pd.read_csv("movies_dataset.csv")

In [5]:
moviesCopy = movies_dataset.copy()

In [5]:
moviesCopy.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
moviesCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Comenzamos la limpieza y transformacion de los datos

## Como se puede ver se nos presentan columnas anidadas, debemos desanidarlas para poder realizar las consultas de la API.

**Belongs_to_collection : Nos traemos los titulos de las peliculas.**

In [6]:
moviesCopy['belongs_to_collection'] = moviesCopy["belongs_to_collection"].apply(lambda x: ast.literal_eval(x)['name'] if pd.notnull(x) and isinstance(ast.literal_eval(x), dict) and 'name' in ast.literal_eval(x) else np.nan)

**Genres : Nos traemos los generos y le sacamos los [ ], seprandolos por una ,(coma).**

In [7]:
moviesCopy["genres"] = moviesCopy["genres"].apply(lambda x: [dic['name'] for dic in ast.literal_eval(x)] if pd.notnull(x) else np.nan)

In [8]:
moviesCopy['genres'] = moviesCopy['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else '')

**Companies : Nos traemos las companias y le sacamos los [ ], separandolos por una ,(coma).**

In [9]:
moviesCopy['production_companies'] = moviesCopy['production_companies'].apply(lambda x: [dic['name'] for dic in ast.literal_eval(x)] if pd.notnull(x) and isinstance(ast.literal_eval(x), list) else np.nan)

In [10]:
moviesCopy['production_companies'] = moviesCopy['production_companies'].apply(lambda x: ', '.join(x) if isinstance(x, list) else np.nan)

**Countries : Nos traemos los paises y le sacamos los [ ], separandolos por una ,(coma).**

In [11]:
moviesCopy['production_countries'] = moviesCopy['production_countries'].apply(lambda x: [dic['name'] for dic in ast.literal_eval(x)] if pd.notnull(x) and isinstance(ast.literal_eval(x), list) else np.nan)

In [12]:
moviesCopy['production_countries'] = moviesCopy['production_countries'].apply(lambda x: ', '.join(x) if isinstance(x, list) else np.nan)

**Spoken_languages : Nos traemos los idiomoas y le sacamos los [ ], separandolos por una ,(coma).**

In [13]:
moviesCopy['spoken_languages'] = moviesCopy['spoken_languages'].apply(lambda x: [dic['name'] for dic in ast.literal_eval(x)] if pd.notnull(x) and isinstance(ast.literal_eval(x), list) else np.nan)

In [14]:
moviesCopy['spoken_languages'] = moviesCopy['spoken_languages'].apply(lambda x: ', '.join(x) if isinstance(x, list) else np.nan)

**Eliminamos nulos de esta columna (6) y evitamos un error a la hora de transformar el tipo de dato de las columnas 'budget' y 'revenue'.**

In [17]:
moviesCopy.dropna(subset='spoken_languages', inplace=True)

**Rellenamos valores nulos de las columnas 'budget' y 'revenue'**

In [15]:
moviesCopy["budget"] = moviesCopy["budget"].fillna(0)
moviesCopy["revenue"] = moviesCopy["revenue"].fillna(0)

**Tranformamos los datos de las columnas 'budget' y 'revenue' a tipo int.**

In [21]:
moviesCopy["budget"] = moviesCopy["budget"].astype("int")
moviesCopy["revenue"] = moviesCopy["revenue"].astype("int")

**Creamos la columna 'return' la cual va a tener la division entre 'revenue' y 'budget'. Aquellos valores donde en alguna de las columnas sea 0, en la columna return va a ser 0.**

In [22]:
def retorno(df):
    df.loc[df["budget"] == 0, "return"] = 0
    df.loc[df["revenue"] == 0, "return"] = 0
    df.loc[(df["budget"] != 0) & (df["revenue"] != 0), "return"] = df["revenue"] / df["budget"]

retorno(moviesCopy)

**Eliminamos nulos de la columna 'release_date'.**

In [20]:
moviesCopy.dropna(subset=['release_date'], inplace=True)

**Transformamos los datos de la columna 'release_date' al formato AAAA-mm-dd.**

In [21]:
moviesCopy["release_date"] = pd.to_datetime(moviesCopy["release_date"], format="%Y-%m-%d", errors="coerce")

**Creamos la columna 'release_year' y lo traemos de la columna 'release_date'.**

In [22]:
moviesCopy["release_year"] = moviesCopy["release_date"].dt.year

moviesCopy["release_year"] = pd.to_datetime(moviesCopy["release_date"]).dt.to_period('Y')

**Eliminamos columnas.**

In [24]:
moviesCopy.drop(columns=['video','imdb_id','adult','original_title','poster_path','homepage'], inplace=True)

## Credits

In [25]:
credits = pd.read_csv("credits.csv")

In [26]:
creditsCopy = credits.copy()

**Director : Traemos el director de cada pelicula en una nueva columna llamada 'director'.**

In [27]:
creditsCopy["director"] = creditsCopy["crew"].apply(lambda x: ', '.join([dic['name'] for dic in ast.literal_eval(x) if dic['job'] == 'Director']) if pd.notnull(x) and isinstance(ast.literal_eval(x), list) else np.nan)

**Eliminamos la columna 'cast' que contiene los actores y 'crew' que contiene el equipo detras de camaras de cada pelicula.**

In [28]:
creditsCopy.drop(columns=["cast",'crew'], inplace=True)

**Eliminamos duplicados quedandonos con la primera de las filas duplicadas.**

In [29]:
creditsCopy.drop_duplicates(keep='first', inplace=True)

**Cambiamos el tipo de dato de la columna 'id' de moviesCopy.**  
**Unimos los df 'moviesCopy' y 'creditsCopy' mediante la columna 'id', conservando las filas que tienen un valor com√∫n en la columna 'id' en ambos DataFrames.**

In [30]:
moviesCopy['id'] = moviesCopy['id'].astype(int)
movies = moviesCopy.merge(creditsCopy, on='id', how='inner')

**Eliminamos duplicados quedandonos con la primera de las filas duplicadas.**

In [32]:
movies.drop_duplicates(keep='first', inplace=True)

## Guardamos el df finalizado en un csv.

In [4]:
movies.to_csv('movies.csv', index=False)